body {
  margin: 50px;
  font-family: Helvetica, sans-serif;
  font-size: 150%;
}
  
  #grad1 {
    width: 520px;
    height: 280px;
    background-image: linear-gradient(to right, red , yellow);
  }

  #grad2 {
    width: 520px;
    height: 280px;
    font-family: Arial;
    font-size: 63px;
    background-image: linear-gradient(to right, rgb(17, 0, 255) , rgb(0, 255, 128));
  }

  #ChangeWords {
    font-family: Arial;
    font-size: 100px;
  }